<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm p-4 animated-border" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4 animated-title">Iniciar Sesión</h2>
        <form [formGroup]="form" (ngSubmit)="login()" id="cliente" name="cliente">
            <div class="mb-3">
                <label for="correoCliente" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" formControlName="correoCliente" id="correoCliente"
                    placeholder="Ingrese su correo" required>
                <small class="text-danger" *ngIf="form.controls['correoCliente'].invalid && form.controls['correoCliente'].touched">
                    Ingrese un correo válido.
                </small>
            </div>
            <div class="mb-3">
                <label for="contrasenaCliente" class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="contrasenaCliente" id="contrasenaCliente"
                    placeholder="Ingrese su contraseña" required>
                <small class="text-danger" *ngIf="form.controls['contrasenaCliente'].invalid && form.controls['contrasenaCliente'].touched">
                    La contraseña debe tener al menos 8 caracteres.
                </small>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">Iniciar Sesión</button>
            <div class="text-center mt-3">
                <small>¿No tienes cuenta? <a [routerLink]="['/signup']" class="text-decoration-none animated-title">Regístrate aquí</a></small>
            </div>
        </form>
    </div>
</div>

