<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light barNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container-xxl formContainer">

        <h2>Gestión de Empleados</h2>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar Empleado
        </button>

        <!-- Modal Agregar Empleado -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar empleado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="http://127.0.0.1:8000/api/empleado" id="empleado" name="empleado">
                            <div class="mb-3">
                                <label for="idEmpleado" class="form-label">Codigo</label>
                                <input type="text" class="form-control" name="idEmpleado" id="idEmpleado"
                                    aria-describedby="idHelp">
                                <div id="idHelp" class="form-text">Digite su codigo</div>
                            </div>
                            <div class="mb-3">
                                <label for="nombreEmpleado" class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="nombreEmpleado" id="nombreEmpleado"
                                    aria-describedby="nameHelp">
                                <div id="nameHelp" class="form-text">Digite su nombre</div>
                            </div>
                            <div class="mb-3">
                                <label for="correoEmpleado" class="form-label">Correo electronico</label>
                                <input type="email" class="form-control" name="correoEmpleado" id="correoEmpleado"
                                    aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">Digite su correo electronico</div>
                            </div>
                            <div class="mb-3">
                                <label for="passwordEmpleado" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="passwordEmpleado"
                                    name="passwordEmpleado" aria-describedby="passwordHelp">
                                <div id="passwordHelp" class="form-text">Digite su contraseña</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" name="guardar" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-xxl formContainer">

        <h2>Listado de Empleados</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Empleado</th>
                    <th scope="col">Nombre </th>
                    <th scope="col">Correo Electronico </th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Metodos</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

    <!-- Modal para modificar -->
    <div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar empleado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="http://127.0.0.1:8000/api/empleado" id="editarEmpleado" name="editarEmpleado">
                        <div class="mb-3">
                            <label for="idEmpleado" class="form-label">Codigo</label>
                            <input type="text" class="form-control" name="idEmpleado" id="idEmpleado"
                                aria-describedby="idHelp">
                            <div id="idHelp" class="form-text">Digite su codigo</div>
                        </div>
                        <div class="mb-3">
                            <label for="nombreEmpleado" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombreEmpleado" id="nombreEmpleado"
                                aria-describedby="nameHelp">
                            <div id="nameHelp" class="form-text">Digite su nombre</div>
                        </div>
                        <div class="mb-3">
                            <label for="correoEmpleado" class="form-label">Correo electronico</label>
                            <input type="email" class="form-control" name="correoEmpleado" id="correoEmpleado"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Digite su correo electronico</div>
                        </div>
                        <div class="mb-3">
                            <label for="passwordEmpleado" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="passwordEmpleado" name="passwordEmpleado"
                                aria-describedby="passwordHelp">
                            <div id="passwordHelp" class="form-text">Digite su contraseña</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" name="modificar" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para eliminar -->
    <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar empleado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="http://127.0.0.1:8000/api/empleado" id="eliminarEmpleado" name="eliminarEmpleado">
                        <div class="mb-3">
                            <label for="idEmpleado" class="form-label">Codigo</label>
                            <input type="text" class="form-control" name="idEmpleado" id="idEmpleado"
                                aria-describedby="idHelp">
                            <div id="idHelp" class="form-text">Digite su codigo</div>
                        </div>
                        <div class="mb-3">
                            <label for="nombreEmpleado" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombreEmpleado" id="nombreEmpleado"
                                aria-describedby="nameHelp">
                            <div id="nameHelp" class="form-text">Digite su nombre</div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="eliminar" class="btn btn-primary">Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>

</body>

</html>

<script>
    document.getElementById('empleado').onsubmit = function (event) {
        event.preventDefault();
        const datosFormulario = new FormData(this);
        const data = {
            idEmpleado: datosFormulario.get('idEmpleado'),
            nombreEmpleado: datosFormulario.get('nombreEmpleado'),
            correoEmpleado: datosFormulario.get('correoEmpleado'),
            passwordEmpleado: datosFormulario.get('passwordEmpleado')
        }
        fetch(
            'http://127.0.0.1:8000/api/empleado', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(datosFormulario => {
                console.log('Success:', datosFormulario);
            })
            .catch((error) => {
                console.error('Error', error)
            })
    }

    document.addEventListener('DOMContentLoaded', function () {
        fetch('http://127.0.0.1:8000/api/empleado')
            .then(response => {
                // Comprobar si la respuesta es exitosa
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // Verificar si la data es un array y llenarla en la tabla
                if (Array.isArray(data)) {
                    const tbody = document.querySelector('tbody');
                    data.forEach(empleado => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${empleado.idEmpleado}</td>
                        <td>${empleado.nombreEmpleado}</td>
                        <td>${empleado.correoEmpleado}</td>
                        <td>${empleado.passwordEmpleado}</td>
                        <td>
                            <button type='button' class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editar">Editar</button>
                            <button type='button' class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminar">Eliminar</button>
                        </td>
                    `;
                        tbody.appendChild(row);
                    });
                } else {
                    console.log('No se encontraron empleados');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    document.getElementById('editarEmpleado').onsubmit = function (event) {
        event.preventDefault();
        const datosFormulario = new FormData(this);
        const data = {
            idEmpleado: datosFormulario.get('idEmpleado'),
            nombreEmpleado: datosFormulario.get('nombreEmpleado'),
            correoEmpleado: datosFormulario.get('correoEmpleado'),
            passwordEmpleado: datosFormulario.get('passwordEmpleado')
        }
        fetch(
            `http://127.0.0.1:8000/api/empleado/${datosFormulario.get('idEmpleado')}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(datosFormulario => {
                console.log('Success:', datosFormulario);
            })
            .catch((error) => {
                console.error('Error', error)
            })
    }

    document.getElementById('eliminarEmpleado').onsubmit = function (event) {
        event.preventDefault();
        const datosFormulario = new FormData(this);
        const data = {
            idEmpleado: datosFormulario.get('idEmpleado'),
            nombreEmpleado: datosFormulario.get('nombreEmpleado')
        }
        fetch(
            `http://127.0.0.1:8000/api/empleado/${datosFormulario.get('idEmpleado')}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(datosFormulario => {
                console.log('Success:', datosFormulario);
            })
            .catch((error) => {
                console.error('Error', error)
            })
    }

</script>