<nav class="navbar navbar-expand-lg navbar-dark bg-dark barNav">
    <div class="container-fluid">
        <!-- Logo o nombre de la marca -->
        <a class="navbar-brand" href="#">
            <span class="gamezone-logo">GameZone</span>
        </a>
        <!-- Botón para móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenido del navbar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="active">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/reserva']" routerLinkActive="active">Reservar Consola</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/mis-reservas']" routerLinkActive="active">Mis Reservas</a>
                </li>
            </ul>
            <button class="btn btn-outline-danger" (click)="logout()">Cerrar Sesión</button>
        </div>
    </div>
</nav>


    <div class="container mt-5">
        <!-- Banner -->
        <div class="row">
            <div class="col-md-12">
                <div class="banner text-center p-5 rounded shadow">
                    <h1 class="display-4 banner-title">¡Bienvenidos a GameZone!</h1>
                    <p class="lead banner-subtitle">Tu destino definitivo para videojuegos y entretenimiento</p>
                    <a href="#" class="btn btn-explore btn-lg mt-3">Explorar más</a>
                </div>
            </div>
        </div>


<!-- Servicios -->
<div class="row mt-5 text-center">
    <div class="col-md-4 mb-4">
        <div class="card service-card h-100">
            <img src="../../../assets/img/consolas.png" class="card-img-top" alt="Consolas modernas" />
            <div class="card-body">
                <h5 class="card-title service-title">Consolas de última generación</h5>
                <p class="card-text">
                    Disfruta de los mejores juegos en Xbox, PlayStation y más.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card service-card h-100">
            <img src="../../../assets/img/multiplayer.jpg" class="card-img-top" alt="Juegos multiplayer" />
            <div class="card-body">
                <h5 class="card-title service-title">Experiencia multiplayer</h5>
                <p class="card-text">
                    Compite y coopera con tus amigos en emocionantes partidas.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card service-card h-100">
            <img src="../../../assets/img/torneo.png" class="card-img-top" alt="Eventos y torneos" />
            <div class="card-body">
                <h5 class="card-title service-title">Eventos y torneos</h5>
                <p class="card-text">
                    Participa en torneos y gana premios increíbles.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Galería -->
<div class="row mt-5">
    <div class="col-md-12">
        <!-- Título de la galería -->
        <h2 class="text-center gallery-title">Galería</h2>

        <div class="gallery-container">
            <article class="gallery">
                <img *ngFor="let image of images" [src]="image.src" [alt]="image.alt">

                <img *ngFor="let image of images" [src]="image.src" [alt]="image.alt">
            </article>
        </div>
    </div>
</div>
    </div>
    


